extends layout

block content
  header
    h1.title= title
    p.title-description Welcome to #{title}

  main
    form(action='/new' method='POST')
      h2 New post
      | User:
      input(type='text' name='user' id='user' value='')
      | Content:
      textarea(type='text' name='text' id='text' value='')
      